body {
	background-image: url('../images/landingPageBackground.jpg');
	background-color: #f3f3f3;
	background-repeat: repeat-x;
}

#container {
	margin: 0 auto;
	width: 960px;
}

header {
	display: block;
	height: 80px;
	width: 960px;
	float: left;
	padding-top: 30px;
}

header > nav {
	float: right;
}

header > nav {
	margin-top: 30px;
}

header > nav > ul > li {
	display: inline;
	font-family: 'Times New Roman';
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	margin-left: 30px;
}

header > nav > ul > li:hover {
	border-bottom: #ffffff 2px solid;
}

.activeLink {
	border-bottom: #ffffff 2px solid;
}

#landingPageMiddle {
	width: 960px;
	height: 273px;
	float: left;
	background-image: url('../images/landingPageMiddleBackground.jpg');
}

#landingPageMiddle > h1 {
	font-family: 'Times New Roman';
	font-size: 50px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: #000000 0px -1px;
	width: 500px;
	margin-bottom: 20px;
}

#landingPageMiddle > p {
	font-family: 'Arial';
	font-size: 14px;
	color: #ffffff;
	width: 556px;
}

#landingPageMiddle > img {
	position: relative;
	top: -200px;
	left: 586px;
}

#landingPageBottom {
	width: 960px;
	float: left;
}

.bottomBox {
	width: 240px;
	float: left;
	margin-top: 15px;
}

.bottomBox > p{
	font-family: 'Arial Narrow';
	font-size: 20px;
	color: #669933;
	padding-right: 70px;
}

.largeButton {
    background: transparent url('../images/landingPageButton.png') no-repeat;
    display: block;
	font-family: 'Arial';
	font-size: 20px;
    height: 49px;
	width: 240px;
    text-decoration: none;
	text-align: center;
	padding-top: 12px;
	margin-top: 25px;
}

.largeButton:hover, .largeButton, .largeButton:visited {
	color: #666633;
}

.largeButton:hover {
	background: transparent url('../images/landingPageButtonHover.png') no-repeat;
}

#loginDialog p, #registerDialog p{
    margin-bottom: 15px;
}

#loginDialog p:last-child, #registerDialog p:last-child {
    margin-bottom: 0px;
}

#loginDialog input[type="text"], #loginDialog input[type="password"], #registerDialog input[type="text"], #registerDialog input[type="password"] {
    float: right;
}


#register {
    float: left;
    margin-left: 180px;
    margin-top: 120px;
    width: 600px;
}